<!DOCTYPE html>
<html>
<head>
	<title>Question-Index</title>
</head>
<body>
	<%= render partial: '/questions/form' %>
	<h1>Question - Index</h1>
	
	<div class="container">
		<div class="row justify-content-center">
			<div class="text-center">
				<% @questions.each_with_index do |question, index| %>
					<div class="card">
							<% if question.linkthumbnailer['images'].present? %>
					      <%= image_tag question.linkthumbnailer['images'].first['src'], :height => "300px" %>
					      <%= question.linkthumbnailer['title'] %>
							  <%= question.linkthumbnailer['description'] %>
				      <% end %>
				      <div class="card-body">
								# <%= index + 1 %><br/>
								Question Title : <%= question.title %><br/>
								Question Description : <%= question.description %><br/>
							</div>
			    </div>
		    <% end %>
			</div>
		</div>
	</div>

</body>
</html>