<!DOCTYPE html>
<html>
<head>
	<title>Question-New</title>
</head>
<body>
	<h1>New Question Page</h1>

		<%= form_for @question do |q| %>
			<%= q.label :title %>
			<%= q.text_field :title, :class => "form-control" %>
			<%= q.select :category_id, @categories.map {|x| [x.name, x.id] }, :class => "form-control", :include_blank => "Please select a category" %>
			<%= q.select :user_id, User.where(role: "R").map {|x| [x.nickname] }, :class => "form-control", :include_blank => "Please select a respondent" %>
			<%= q.label :description %>
			<%= q.trix_editor :description, :class => "form-control" %>
			<%= q.label :source_url %>
			<%= q.text_field :source_url, :required => true, :class => "form-control" %>
			<%= q.submit 'Save', :class => "btn btn-outline-primary" %>
		<% end %>

</body>
</html>