<!DOCTYPE html>
<html>
<head>
	<title>Question-Show</title>
</head>
<body>
	<%= render partial: '/questions/form' %>
	
	<h1 class="show-h"><%= @question.title %></h1>
	<div class="row">
  <div class="col-lg-2"></div>
    <div class="col-lg-5">
      <div class="jumbotron jumbotron-fluid">
	      <div class="card-body">
		    	<!-- <p class="post-id">Source<p> -->
					<div class="text-center">
						<% if @website['images'].present? %>
						  <%= image_tag @website['images'].first['src'], :class => "question-show-image" %><br/>
							<%= @website['title'] %><br/>
						  <%= @website['description'] %>
					  <% end %>
				  </div>
			  </div>
		  </div>

		  <div class="jumbotron jumbotron-fluid">
	      <div class="container" id="question-show-container">
					<div>

	        	<%= image_tag @respondent_avatar.avatar.url(:thumb), :class => "question_avatar" %><br/>
	        	<strong style="color: darkblue;"><%= @respondent_avatar.nickname %></strong><br/>
						<!-- answer display section -->
						<% if @question.answer.present? %>
							<p><%= @question.answer.response.html_safe %></p>
			       	<i class="fas fa-reply"></i>
							<em>&nbsp;@ <%= @question.answer.created_at.to_date %></em><br/>
							<% elsif @question_expired > Time.now  %>
								<strong><%= "This question is in voting stage" %></strong>
							<% else %>
								<strong><%= "Answer is still pending" %></strong>
						<% end %>
					</div>
				</div>
			</div>


		</div>

    <div class="col-lg-4">
      <div class="jumbotron jumbotron-fluid">
        <div class="container" id="question-show-container">


	        <p class="post-id">#<%= @question.id %></p>
        	<%= image_tag @interragator_avatar.avatar.url(:thumb), :class => "question_avatar" %><br/>  
	      	<strong style="color: darkblue;"><%= @interragator_avatar.nickname %></strong><br/>
        	<span style="font-size: 1em;">
        	<em>Created at <%= @question.created_at.to_date %></em>
				  <div class="badge badge-secondary" id="tag">#<%= @question.category.name %></div>
				  <h3><%= @question.title %></h3>
				  <p><%= @question.description.html_safe %></p>
					
					<div>
						<!-- vote button -->
						<% if Time.now < @question_expired && @user_voted == false %>
							<%= form_for [@question, Vote.new] do |f| %>
								<button type="submit" class="btn btn-success btn-block">
									<%= "Vote" %>
								</button>
							<% end %>
						<% elsif @user_voted == true %>
							<button type="submit" class="btn btn-secondary btn-block disabled">
								<%= "Thank you for your vote" %>
							</button>
						<% else %>
							<button type="submit" class="btn btn-danger btn-block disabled">
								The vote are ended at <%= @question_expired.to_date %>
							</button>
						<% end %>
					</div>
					<br/>
					<div>
						<!-- vote count -->
						<div>
							<p class="far btn-block"><i class="far fa-hand-point-up"></i>&nbsp;<%= @total_vote %></p>
						</div>
					</div>
				</div>
			</div>
		</div>
					
		<div class="col-lg-1"></div>
	</div>

	<div class="share-section1">
 		<div class="share-section2" >
 			<div class="share-section3">
 				<div class="share-section3-content">
					<h3>Share This Post</h3>
					<div class="post-share">
						<a onclick="javascript:window.open('https://www.facebook.com/sharer/sharer.php?u=<%= request.original_url %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);">
							<i class="fab fa-facebook-f" aria-hidden="true"></i>
						</a>
						<a onclick="javascript:window.open('https://twitter.com/intent/tweet?text=<%= @question.title %> by @someuser - &amp;url=<%= request.original_url %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);">
							<i class="fab fa-twitter" aria-hidden="true"></i>
						</a>
						<a onclick="javascript:window.open('https://plus.google.com/share?url=<%= request.original_url %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);">
							<i class="fab fa-google-plus-g" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

<div class="form-signin-question">
		<!-- answer input section -->
		<% if Date.today - @question.created_at.to_date < 1.day %>
			<%  ## COUNT QUESTION WITH MAX VOTES%>
			<%	arr = Vote.all.map {|x| x.question_id} %>
			<%	freq = arr.inject(Hash.new(0)) { |h,v| h[v] += 1; h } %>
			<%	q = arr.max_by { |v| freq[v] }%>
			<%	@question_max_votes = Question.find(q) %>
			<% ## END %>
				<!-- here to allow answer, just remove @question_max_votes.id... if this q not the most vote-->
				<% if @selected_respondent && current_user.respondent? && @pending_answer %>
				 <!-- && @question_max_votes.id == @question.id  -->
			
					  <%= form_for [@question, Answer.new] do |f| %>
						  <%= f.trix_editor :response %>
						  <%= f.submit "Answer Now" %>
					  <% end %>
				  
				<% else %>
					<%= flash[:alert] %>
				<% end %>

		<% end %>
	</div>
</body>
</html>