<!DOCTYPE html>
<html>
<head>
	<title>Question-Show</title>
</head>
<body>
	<%= render partial: '/questions/form' %>
	<h1>Question - Show</h1>

	<div class="text-center">
		<% if @website['images'].present? %>
		  <%= image_tag @website['images'].first['src'] %><br/>
			<%= @website['title'] %><br/>
		  <%= @website['description'] %>
	  <% end %>
	  <h2><%= @question.title %></h2>
		#<%= @question.id %>
	  <%= @question.description.html_safe %>
  </div>
	
	<!-- answer input section -->
	<% if current_user.respondent? %>
	  <%= form_for [@question, Answer.new] do |f| %>
		  <%= f.trix_editor :response %>
		  <%= f.submit "Answer Now" %>
	  <% end %>
	<% else %>
		<%= flash[:alert] %>
	<% end %>


	<!-- answer display section -->
	<% if @question.answer.present? %>
		<%= @question.answer.response.html_safe %>
	<% end %>
	

</body>
</html>