<!DOCTYPE html>
<html>
<head>
	<title>Question-Show</title>
</head>
<body>
	<%= render partial: '/questions/form' %>
	<h1>Question - Show</h1>

	<div class="text-center">
		<% if @website %>
		  <%= image_tag @website.images.first %><br/>
			<%= @website.title %><br/>
		  <%= @website.description %>
	  <% end %>
	  <h2><%= @question.title %></h2>
		#<%= @question.id %>
	  <%= @question.description %>
  </div>

</body>
</html>