<!DOCTYPE html>
<html>
<head>
	<title>FOAQ - Home</title>
</head>
<body>
	<!-- header slider section -->
	<div class="carousel slide" data-ride="carousel">
	  <div class="carousel-inner">
			<div class="carousel-item active">
			 <div class="jumbotron jumbotron-fluid" id="s1">
			  <div class="container" id="carousel-word">
			    <h1 class="display-4">Welcome to FOAQ</h1>
			    <span class="lead">Ask > Vote > Maybe Bill Gates will reply your answer !</span>
			  </div>
			 </div>
			</div>

			<div class="carousel-item">
			 <div class="jumbotron jumbotron-fluid" id="s2">
			  <div class="container" id="carousel-word">
			    <h1 class="display-4">Relak la bro ~</h1>
			    <span class="lead">Take a brake after the bootcamp, but dont forget to keep coding</span>
			  </div>
			 </div>
			</div>
	  </div>
	</div>

		<!-- new ask question -->
		<div class="row justify-content-center" id="home-content">
		
		<h2 class="home-h-left">#Just Ask</h2>
			<div class="col-lg-2">
				<% @questions.limit(3).each_with_index do |question, index| %>
					<div class="col-lg-5">
						<div class="card" id="home-card">
							<% if question.linkthumbnailer['images'].present? %>
					      <%= image_tag question.linkthumbnailer['images'].first['src'], :class => "card-image" %>
				      <div class="card-body card-content-display">
					      <strong><%= question.linkthumbnailer['title'] %></strong>
					      <a href="<%= question.source_url %>" target="_blank">Source link</a>
							  <div><%= question.linkthumbnailer['description'] %></div> 
							</div>
				      <% end %>
				      <div style="padding: 1rem;">
					      <div>
						      <div><%= link_to "Read", question_path(question), :class => "btn btn-success btn-sm" %>
							      <div class="badge badge-dark" id="tag">#<%= question.category.name %></div>
						      </div>
						      <hr />
						      <i class="fas fa-trophy" style="color: #ff0090;"></i>
									<strong><%= index + 1 %></strong>
						      <div style="float: right;">
										<p class="far btn-block">
											<i class="far fa-hand-point-up"></i>&nbsp;<%= question.total_vote %>
										</p>
									</div>
								</div>
								<p><strong><%= question.title %></strong></p>
								<i class="fas fa-pen-square"></i>
								<em>by <%= question.user.nickname %> @ <%= question.created_at.to_date %></em><br/>
								<i class="fas fa-clock" style="color: blue;"></i>
								<em>voted end @ <%= (question.created_at + 5.minutes).to_date %></em>
							</div>
				    </div>
					</div>
		    <% end %>
			</div>
			<div class="col-lg-3"></div>

		</div>

		<!-- just cooked -->
		<div class="row justify-content-center">
		
			<h2 class="home-h-right">#Just<br/>Answered</h2>
			<div class="col-lg-1"></div>
				<div class="col-lg-2">
					<% @answers.limit(5).each_with_index do |answer, index| %>
						<!-- <div class="col-lg-5"> -->
							<div class="card" id="home-card">
								<% if answer.question.linkthumbnailer['images'].present? %>
						      <%= image_tag answer.question.linkthumbnailer['images'].first['src'], :class => "card-image" %>
					      <div class="card-body card-content-display">
						      <strong><%= answer.question.linkthumbnailer['title'] %></strong>
						      <a href="<%= answer.question.source_url %>" target="_blank">Source link</a>
								  <div><%= answer.question.linkthumbnailer['description'] %></div> 
								</div>
					      <% end %>
					      <div style="padding: 1rem;">
						      <div>
							      <div><%= link_to "Read", question_path(answer.question), :class => "btn btn-success btn-sm" %>
								      <div class="badge badge-dark" id="tag">#<%= answer.question.category.name %></div>
							      </div>
							      <hr />
								      <div style="float: right;">
												<p class="far btn-block">
													<i class="far fa-hand-point-up"></i>&nbsp;<%= answer.question.total_vote %>
												</p>
											</div>
										<p><strong><%= answer.question.title %></strong></p>
										<i class="fas fa-reply"></i>
										<em>by <%= answer.user.nickname %> @ <%= answer.created_at.to_date %></em><br/>
									</div>
								</div>
					    </div>
			    <% end %>
				</div>
				<div class="col-lg-4" id="home-col-lg-4"></div>

		</div>
		
</body>
</html>