<!DOCTYPE html>
<html>
  <head>
    <title>FoaqV2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  </head>

  <body>
    <!-- flash notice / alert -->
    <div id="notice-wrapper">
      <% if flash[:notice].present? %>
        <div class="notice" role="alert">
          <!-- alert alert-success -->
          <p><%= flash[:notice] %></p>
        </div>
      <% end %>
    </div>

    <div id="alert-wrapper">
      <% if flash[:alert].present? %>
        <div class="alert" role="alert">
          <!-- alert alert-danger -->
          <p><%= flash[:alert] %></p>
        </div>
      <% end %> 
    </div>  
        
     

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="<%= root_path %>"><strong>FOAQ</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     
      <% if signed_in? %>
        <div class="btn-group">
          <!-- drop-down button -->
          <button class="btn btn-danger btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Message <span class="badge badge-light">
                <%= @notifications.unopened_only.count %>
            </span>
          </button>

          <!-- drop-down display notifications -->
          <% if @notifications.count != 0 %>
            <div class="dropdown-menu">

              <!-- unopened notifications -->
              <% @notifications_unopened.limit(5).each do |nu| %>
                <li class="nav-link">
                  <div class="notification-unopened">
                    <%= link_to nu.key, question_path(Answer.find(nu.notifiable_id).question, :opened_at => Time.now, :noti_id => nu.id)%>
                  </div>
                </li>
              <% end %>  
              <!-- opened notifications -->     
              <% @notifications_opened.limit(5).each do |no| %>
                <li class="nav-link">
                  <div>
                    <%= link_to no.key, question_path(Answer.find(no.notifiable_id).question) %>
                  </div>
                </li>
              <% end %>
            </div>
          <% end %>

        </div>
      <% end %>
      

      <div class="collapse navbar-collapse" id="navbarText">
      
        <!-- search bar -->
        <form class="form-inline" action="/searchresult" method="get">
          <input class="form-control mr-sm-2" id="search-input" type="search" placeholder="eg. name or category" aria-label="Search" name="searchkey">
            <button class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit">
              <i class="fas fa-search"></i>
            </button>
        </form>


        <% if signed_in? %>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><%= link_to "Show All Question", questions_path, :class => "nav-link" %></li>
          </ul>
          <% if signed_in? && current_user.role != "R" %>
            <div style="margin-right: 0.5rem;"><%= link_to "Ask a Question", new_question_path, :class => "btn-info btn-sm" %></div>
          <% end %>
          <div class="nav-item active"><%= link_to "My Profile", edit_user_path(current_user), :class => "nav-link" %></div>
          <span class="navbar-text", style="float: right;">
            <!-- show current signed in email -->
            Hi, <%= current_user.nickname %>...
            <!-- show sign in/out button -->
            <%= link_to t("sign_out"), destroy_user_session_path, method: :delete %>
          </span>
          <% else %>
          <div style="padding: 0.5rem;"><%= link_to "Show All Question", questions_path, :class => "btn-info btn-sm" %></div>
          <span class="navbar-text", style="float: right;">
            Kindly please
            <%= link_to t("sign_in"), new_user_session_path %>
            or
            <%= link_to t("sign_up"), new_user_registration_path %>
            an account.
          </span>
        <% end %>        


        <% if signed_in? && current_user.avatar.file? %>
        <!-- show current_user avatar -->
          <%= image_tag current_user.avatar.url(:thumb), :class => "avatar" %>
        <% end %>
          
      </div>
    </nav>

    <div style="position: fixed; right: 1rem; bottom: 1rem;"><a href="#">Top</a></div>

    <%= yield %>

  <footer class="mt-5">
    <div class="container-fluid bg-faded mt-5">
      <div class="container">
        <div class="row py-3">
          <!-- footer column 1 start -->
          <div class="col-md-4">
            <!-- row start -->
            <div class="row py-2">
              <div class="col-sm-3 hidden-md-down">
                <a class="bg-circle bg-info" href="https://twitter.com/ ">
                  <i class="fab fa-2x fa-fw fa-twitter" aria-hidden="true "></i>
                </a>
              </div>
              <div class="col-sm-9">
                <h4>Tweets</h4>
                Embed here?
              </div>
            </div>
            <!-- row end -->
          </div>
          <!-- footer column 1 end -->
          <!-- footer column 2 start -->
          <div class="col-md-4">
            <!-- row start -->
            <div class="row py-2">
              <div class="col-sm-3 hidden-md-down">
                <a class="bg-circle bg-info" href="#">
                  <i class="fas fa-2x fa-fw fa-address-card" aria-hidden="true "></i>
                </a>
              </div>
              <div class="col-sm-9">
                <h4>Contact us</h4>
                <p>Why not?</p>
              </div>
            </div>
            <!-- row end -->
          </div>
          <!-- footer column 2 end -->
          <!-- footer column 3 start -->
          <div class="col-md-4">

            <!-- row starting  -->
            <div class="row py-2">
              <div class="col-sm-3 hidden-md-down">
                <a class="bg-circle bg-info" href="https://twitter.com/ ">
                  <i class="fas fa-2x fa-fw fa-info" aria-hidden="true "></i>
                </a>
              </div>
              <div class="col-sm-9">
                <h4>Info</h4>
                About us.
              </div>
            </div>
            <!-- row ended -->
          </div>
          <!-- footer column 3 end -->
        </div>
      </div>
    </div>


    <div class="container-fluid bg-primary py-3">
      <div class="container">
        <div class="row py-3">
          <div class="col-md-9" id="footer-tag-line">
            <p class="text-white">while true<br/>&nbsp;&nbsp;code©<br/>end</p>
          </div>
          <div class="col-md-3">
            <div class="d-inline-block">
              <div class="bg-circle-outline d-inline-block">
                <a href="https://www.facebook.com/" class="text-white"><i class="fab fa-2x fa-fw fa-facebook"></i>
      </a>
              </div>

              <div class="bg-circle-outline d-inline-block">
                <a href="https://twitter.com/" class="text-white">
                  <i class="fab fa-2x fa-fw fa-twitter"></i></a>
              </div>

              <div class="bg-circle-outline d-inline-block">
                <a href="https://www.linkedin.com/company/" class="text-white">
                  <i class="fab fa-2x fa-fw fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  </body>
</html>