<!DOCTYPE html>
<html>
  <head>
    <title>FoaqV2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  </head>

  <body>
    <!-- flash notice / alert -->
    <div id="notice-wrapper">
      <% if flash[:notice].present? %>
        <div class="notice" role="alert">
          <!-- alert alert-success -->
          <p><%= flash[:notice] %></p>
        </div>
      <% end %>
    </div>

    <div id="alert-wrapper">
      <% if flash[:alert].present? %>
        <div class="alert" role="alert">
          <!-- alert alert-danger -->
          <p><%= flash[:alert] %></p>
        </div>
      <% end %> 
    </div>  
        
     

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="<%= root_path %>"><strong>FOAQ</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <% if signed_in? %>
        <div class="btn-group">
        
          <!-- drop-down button -->
          <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Message <span class="badge badge-light">
                <%= @notifications.unopened_only.count %>
            </span>
          </button>

          <!-- drop-down display notifications -->
          <% if @notifications.count != 0 %>
            <div class="dropdown-menu">

              <!-- unopened notifications -->
              <% @notifications_unopened.limit(5).each do |nu| %>
                <li class="nav-link">
                  <div class="notification-unopened">
                    <%= link_to nu.key, question_path(Answer.find(nu.notifiable_id).question, :opened_at => Time.now, :noti_id => nu.id)%>
                  </div>
                </li>
              <% end %>  
              <!-- opened notifications -->     
              <% @notifications_opened.limit(5).each do |no| %>
                <li class="nav-link">
                  <div>
                    <%= link_to no.key, question_path(Answer.find(no.notifiable_id).question) %>
                  </div>
                </li>
              <% end %>
            </div>
          <% end %>

        </div>
      <% end %>
      
      <div class="collapse navbar-collapse" id="navbarText">

        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
        </ul>

        <span class="navbar-text">
          <% if signed_in? %>
          <!-- show current signed in email -->
            <%= current_user.email %>
          <!-- show sign in/out button -->
            <%= link_to t("sign_out"), destroy_user_session_path, method: :delete %>
          <% else %>
            Kindly please
            <%= link_to t("sign_in"), new_user_session_path %>
            or
            <%= link_to t("sign_up"), new_user_registration_path %>
            an account.
          <% end %>
        </span>

      </div>
    </nav>
		
  <div>
  
    

  </div>

    <%= yield %>

  </body>
</html>